.logo-1-11 {
  position: absolute;
  top: 2px;
  left: 0;
  width: 245px;
  height: 135px;
  object-fit: cover;
}
.rectangle-div {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 23px;
  background-color: var(--color-white);
  width: 311px;
  height: 57px;
}
.explore {
  position: absolute;
  top: 14px;
  left: 26px;
}
.navbar-inner,
.rectangle-container {
  position: absolute;
  top: 39px;
  left: 922px;
  width: 311px;
  height: 57px;
}
.navbar-inner {
  top: 29px;
  left: 1285px;
  border-radius: 50%;
  width: 78px;
  height: 78px;
  object-fit: cover;
}
.navbar1 {
  position: absolute;
  top: -2px;
  left: 0;
  background-color: var(--color-steelblue);
  width: 1440px;
  height: 135px;
  font-size: var(--font-size-xl);
  color: var(--color-gray-400);
}
.completed1,
.home1,
.in-progress1 {
  position: absolute;
  top: 155px;
  left: 68px;
  font-size: var(--font-size-6xl);
}
.completed1,
.in-progress1 {
  left: 204px;
}
.completed1 {
  left: 403px;
}
.frame-div {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-black);
  width: 10080px;
  height: 3px;
  overflow: hidden;
}
.about-us1,
.tutorcompass-inc-all1 {
  position: absolute;
  top: 56.52%;
  left: 1.06%;
  line-height: 150%;
  font-weight: 300;
}
.about-us1 {
  top: 0;
  left: 0;
  font-size: var(--subhead-medium-24-size);
  font-weight: 500;
  font-family: var(--subhead-medium-24);
  color: var(--color-black);
  text-align: left;
}
.about-us-container {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 97px;
  height: 36px;
}
.terms-of-service-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 182px;
  height: 36px;
}
.group-frame,
.privacy-policy1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
}
.group-frame {
  width: 182px;
  height: 36px;
}
.privacy-policy1 {
  font-size: var(--subhead-medium-24-size);
  line-height: 150%;
  font-weight: 500;
  font-family: var(--subhead-medium-24);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
}
.group-container {
  position: absolute;
  top: 33px;
  left: 733px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-30xl);
}
.frame-group {
  position: absolute;
  top: 1716px;
  left: -40px;
  width: 10080px;
  height: 69px;
  font-size: var(--font-size-xl);
  font-family: var(--subhead-medium-24);
}
.image-1-icon1 {
  position: absolute;
  top: 220px;
  left: 823px;
  width: 640px;
  height: 449px;
  object-fit: cover;
}
.course-selection-21-child {
  position: absolute;
  top: 220px;
  left: 0;
  width: 998px;
  height: 449px;
}
.computer-networks1,
.instructors1,
.topics1 {
  position: absolute;
  left: 106px;
  font-family: var(--font-montserrat);
}
.computer-networks1 {
  top: 323px;
  font-size: var(--font-size-45xl);
  font-weight: 500;
  color: var(--color-gray-200);
}
.instructors1,
.topics1 {
  top: 425px;
  font-size: var(--font-size-7xl);
  color: var(--color-gray-100);
}
.instructors1 {
  left: 579px;
  text-align: right;
}
.choose-your-instructor1 {
  position: absolute;
  top: 702px;
  left: 68px;
  font-size: var(--font-size-26xl);
}
.group-child1 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-36xl);
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1289px;
  height: 713px;
}
.live-classes1,
.vector-icon2 {
  position: absolute;
  top: 36px;
  left: 69px;
}
.vector-icon2 {
  height: 2.85%;
  width: 2.87%;
  top: 6.92%;
  right: 6.54%;
  bottom: 90.23%;
  left: 90.59%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}
.group-child2,
.group-div {
  position: absolute;
  width: 1289px;
}
.group-div {
  top: 803px;
  left: 82px;
  height: 713px;
  font-size: var(--font-size-13xl);
}
.group-child2 {
  top: 0;
  left: 0;
  border-radius: var(--br-36xl);
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  height: 119px;
}
.vector-icon3 {
  position: absolute;
  height: 17.1%;
  width: 2.87%;
  top: 41.45%;
  right: 6.54%;
  bottom: 41.45%;
  left: 90.59%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.rectangle-parent1 {
  position: absolute;
  top: 1553px;
  left: 67px;
  width: 1289px;
  height: 119px;
  font-size: var(--font-size-13xl);
}
.ellipse-icon {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  width: 97px;
  height: 97px;
  object-fit: cover;
}
.garry-lawrence,
.years-of-teaching {
  position: absolute;
  top: 11px;
  left: 137px;
  font-size: var(--font-size-7xl);
}
.years-of-teaching {
  top: 52px;
  font-size: var(--font-size-3xl);
  color: var(--color-gray-300);
}
.vector-icon4 {
  position: absolute;
  height: 18.5%;
  width: 1.92%;
  top: 19.13%;
  right: 65.41%;
  bottom: 62.37%;
  left: 32.68%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div {
  position: absolute;
  top: 18px;
  left: 408px;
  font-size: var(--font-size-3xl);
}
.view-complete-profile {
  text-decoration: none;
  position: absolute;
  top: 36px;
  left: 565px;
  color: var(--color-steelblue);
}
.group-child3,
.mon-wed-fri,
.time-2000 {
  position: absolute;
  top: 22px;
  left: 838px;
}
.group-child3,
.time-2000 {
  top: 52px;
}
.group-child3 {
  top: 0;
  left: 0;
  border-radius: var(--br-base);
  background-color: var(--color-steelblue);
  width: 172px;
  height: 51px;
}
.select {
  position: absolute;
  top: calc(50% - 20.5px);
  left: 29px;
  font-size: var(--font-size-8xl);
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: left;
}
.vector-icon5 {
  position: absolute;
  width: 7.03%;
  top: calc(50% - 10.5px);
  right: 18.79%;
  left: 74.17%;
  max-width: 100%;
  overflow: hidden;
  height: 22px;
}
.group-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 25px;
  left: 994px;
  width: 172px;
  height: 51px;
}
.line-icon {
  position: absolute;
  top: 113.75px;
  left: 323.75px;
  width: 591.5px;
  height: 2.5px;
}
.ellipse-container,
.ellipse-group,
.ellipse-parent,
.ellipse-parent1 {
  position: absolute;
  top: 928px;
  left: 143px;
  width: 1166px;
  height: 115px;
}
.ellipse-container,
.ellipse-group,
.ellipse-parent1 {
  top: 1062px;
}
.ellipse-container,
.ellipse-parent1 {
  top: 1201px;
}
.ellipse-parent1 {
  top: 1340px;
}
.course-selection-21-item {
  position: absolute;
  top: 919.5px;
  left: 1343.5px;
  border-right: 9px solid var(--color-gray-400);
  box-sizing: border-box;
  width: 9px;
  height: 425px;
}
.course-selection-21 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1847px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-lgi);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
