.logo-1-1 {
  position: absolute;
  top: 2px;
  left: 0;
  width: 245px;
  height: 135px;
  object-fit: cover;
}
.navbar-child {
  border: 0;
  font-family: var(--font-poppins);
  font-size: var(--font-size-xl);
  background-color: transparent;
  position: absolute;
  top: 39px;
  left: 922px;
  width: 311px;
  height: 57px;
}
.navbar-item {
  position: absolute;
  top: 29px;
  left: 1285px;
  border-radius: 50%;
  width: 78px;
  height: 78px;
  object-fit: cover;
}
.navbar {
  position: absolute;
  top: -2px;
  left: 0;
  background-color: var(--color-steelblue);
  width: 1440px;
  height: 135px;
}
.completed,
.home,
.in-progress {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 155px;
  left: 68px;
  font-size: var(--font-size-6xl);
  font-family: var(--font-poppins);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
}
.completed,
.in-progress {
  left: 204px;
}
.completed {
  left: 403px;
}
.group-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-black);
  width: 10080px;
  height: 3px;
  overflow: hidden;
}
.about-us,
.tutorcompass-inc-all {
  position: absolute;
  top: 56.52%;
  left: 1.06%;
  line-height: 150%;
  font-weight: 300;
}
.about-us {
  top: 0;
  left: 0;
  font-size: var(--subhead-medium-24-size);
  font-weight: 500;
  font-family: var(--subhead-medium-24);
  color: var(--color-black);
  text-align: left;
}
.about-us-wrapper {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 97px;
  height: 36px;
}
.terms-of-service-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 182px;
  height: 36px;
}
.group-wrapper,
.privacy-policy {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
}
.group-wrapper {
  width: 182px;
  height: 36px;
}
.privacy-policy {
  font-size: var(--subhead-medium-24-size);
  line-height: 150%;
  font-weight: 500;
  font-family: var(--subhead-medium-24);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
}
.group-parent {
  position: absolute;
  top: 33px;
  left: 733px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-30xl);
}
.frame-parent {
  position: absolute;
  top: 1716px;
  left: -40px;
  width: 10080px;
  height: 69px;
  font-size: var(--font-size-xl);
  font-family: var(--subhead-medium-24);
}
.image-1-icon {
  position: absolute;
  top: 220px;
  left: 823px;
  width: 640px;
  height: 449px;
  object-fit: cover;
}
.course-selection-1-child {
  position: absolute;
  top: 220px;
  left: 0;
  width: 998px;
  height: 449px;
}
.computer-networks {
  position: absolute;
  top: 323px;
  left: 106px;
  font-size: var(--font-size-45xl);
  font-weight: 500;
  color: var(--color-gray-200);
}
.instructors,
.topics {
  position: absolute;
  top: 425px;
  left: 106px;
  color: var(--color-gray-100);
}
.instructors {
  left: 579px;
  text-align: right;
}
.choose-your-instructor {
  position: absolute;
  top: 702px;
  left: 68px;
  font-size: var(--font-size-26xl);
  font-family: var(--font-poppins);
}
.group-item {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-36xl);
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1289px;
  height: 119px;
}
.live-classes,
.vector-icon {
  position: absolute;
  top: 36px;
  left: 69px;
}
.vector-icon {
  height: 17.1%;
  width: 2.87%;
  top: 41.45%;
  right: 6.54%;
  bottom: 41.45%;
  left: 90.59%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}
.rectangle-parent {
  position: absolute;
  top: 805px;
  left: 74px;
  width: 1289px;
  height: 119px;
  font-size: var(--font-size-13xl);
  font-family: var(--font-poppins);
}
.vector-icon1 {
  position: absolute;
  height: 17.1%;
  width: 2.87%;
  top: 41.45%;
  right: 6.54%;
  bottom: 41.45%;
  left: 90.59%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.rectangle-group {
  position: absolute;
  top: 959px;
  left: 74px;
  width: 1289px;
  height: 119px;
  font-size: var(--font-size-13xl);
  font-family: var(--font-poppins);
}
.course-selection-1 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1847px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-7xl);
  color: var(--color-black);
  font-family: var(--font-montserrat);
}
